<div class="ch-details">
    <div class="name">{{ characterName() }}</div>
    <div class="spacer-20"></div>
    <div class="stats">
        <div class="stat" *ngFor="let stat of stats">
            <span class="stat-name">{{ stat }}</span>
            <span>{{ characterStat(stat) }}</span>
        </div>
        <div class="overall">
            Overall Rating
            <div class="rating">
                {{ characterRating() }}
            </div>
        </div>
    </div>
</div>
<div class="characters">
    <div class="ch-list">
        <div class="title">{{ autobots ? 'Autobots' : 'Decepticons' }}</div>
        <div class="spacer-10"></div>
        <div class="pick">Choose 3 characters</div>
        <div class="spacer-10"></div>
        <div class="bots">
            <app-bot-thumb *ngFor="let bot of botList()" [bot]="bot" [selected]="isBotSelected(bot.name)"
                (click)="selectBot(bot)" (mouseover)="showStats(bot)"></app-bot-thumb>
        </div>
        <div class="spacer-10"></div>
        <div class="new-bot" (click)="onNewBot(autobots? 'Autobot': 'Decepticon')">
            Click here to add your custom bot
        </div>
    </div>
    <div class="spacer-50"></div>
    <div class="ch-team">
        <div class="title sm">Your team</div>
        <div class="spacer-10"></div>
        <div class="bots">
            <app-bot-thumb *ngFor="let bot of selectedTeam" [bot]="bot" size='big'></app-bot-thumb>
            <app-bot-thumb *ngFor="let number of emptyTeam()" size='big'></app-bot-thumb>
            <div class="grow"></div>
        </div>
    </div>
    <app-new-bot *ngIf="newBot" (createBot)="onAddBot($event)" [type]="newBot" (cancel)="onCancel()"></app-new-bot>
</div>